version: '3.8'

services:
  web:
    build: 
      context: ..
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    environment:
      - DB_HOST=db
      - DB_USER=user
      - DB_PASSWORD=password
      - DB_NAME=sistema_pagos_mp
      - SECRET_KEY=dev_secret_key
    depends_on:
      - db
    volumes:
      - ..:/app

  db:
    image: mysql:8.0
    environment:
      - MYSQL_ROOT_PASSWORD=rootpassword
      - MYSQL_DATABASE=sistema_pagos_mp
      - MYSQL_USER=user
      - MYSQL_PASSWORD=password
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      # Montar esquema para inicialización automática
      - ../schema.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  db_data:
